@import '~node_modules/modern-normalize/modern-normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif; 

@media screen and (max-width: 767px) {
    padding-top: 104px;
}

@media screen and (min-width: 768px) {
    padding-top: 136px;
}
}
