:root {
    --prim-text-color: #FFFFFF;
    --sec-text-color: #86E543;
    --old-price-color: #8D9289;
    --contact-color: #8D9289;

    --section-bgc-color: #01383A;
    --footer-bgc-color: #001414;


    --text-btn-color: #01383A;
    --sec-text-btn-color: #86E543;

    --prim-btn-color: #86E543;
    --wht-btn-color: #FFFFFF;

    --icon-color: #001414;
    --icon-bgc-color: #FFFFFF;
    --line-color: #7BE34A;
    --sec-line-color: #28780D;
    --message-form-color: #CDCDCD;

    --hover-prim-btn: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    --hover-wht-btn: 0px 4px 20px rgba(255, 255, 255, 0.5),
        0px 4px 10px rgba(134, 229, 67, 0.1);

    --pressed-btn: 0px 4px 10px rgba(134, 229, 67, 0.1),
        0px 4px 20px rgba(134, 229, 67, 0.4);

    }
