@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

:root {
  --prim-text-color: #FFFFFF;
  --sec-text-color: #86E543;
  --old-price-color: #8D9289;
  --contact-color: #8D9289;
  --section-bgc-color: #01383A;
  --footer-bgc-color: #001414;
  --text-btn-color: #01383A;
  --sec-text-btn-color: #86E543;
  --prim-btn-color: #86E543;
  --wht-btn-color: #FFFFFF;
  --icon-color: #001414;
  --icon-bgc-color: #FFFFFF;
  --line-color: #7BE34A;
  --sec-line-color: #28780D;
  --hover-prim-btn: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  --hover-wht-btn: 0px 4px 20px rgba(255, 255, 255, 0.5),
      0px 4px 10px rgba(134, 229, 67, 0.1);
  --pressed-btn: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

:root {
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--section-bgc-color);
}
.modal-open body {
  overflow-y: hidden;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  transition: var(--transition-main);
}

.wrapper-btn {
  display: flex;
  gap: 20px;
}

.main-btn,
.secondary-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  text-transform: uppercase;
  border-radius: 16px;
}

.main-btn {
  color: var(--section-bgc-color);
  padding: 16px 64px;
  background-color: var(--sec-text-color);
}

.main-btn:hover,
.main-btn:focus {
  box-shadow: var(--hover-prim-btn);
}

.secondary-btn {
  padding: 16px 52px;
  border: 1px solid var(--sec-text-btn-color);
  background-color: transparent;
  color: var(--sec-text-btn-color);
}

.secondary-btn:hover,
.secondary-btn:focus {
  box-shadow: var(--hover-wht-btn);
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 20, 20, 0.8);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 272px;
  width: 100%;
  background-color: var(--section-bgc-color);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 768px;
  }
}

.cross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  padding: 4.38px;
  background-color: transparent;
}

.content--is-hidden {
  display: none;
}

.modal__content {
  padding: 100px 44px;
}
@media screen and (min-width: 1200px) {
  .modal__content {
    padding: 88px 80px;
  }
}

.modal__text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--prim-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 64px;
  }
}

.modal__main-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 51px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__main-btn {
    padding: 16px 82.5px;
  }
}

.modal__main-btn--add {
  padding: 16px 25px;
}
@media screen and (min-width: 1200px) {
  .modal__main-btn--add {
    padding: 16px 30.5px;
  }
}/*# sourceMappingURL=index.css.map */