<section class="accessories section">
  <div class="container">
    <ul class="buttons-list list">
      <li class="buttons-item"><button class="btn">All</button></li>
      <li class="buttons-item"><button class="btn">Headsets</button></li>
      <li class="buttons-item"><button class="btn">Keyboards</button></li>
      <li class="buttons-item"><button class="btn">Mouses</button></li>
    </ul>
    <h1 class="accessories-title">All accessories</h1>
    <ul class="lines-list list">
      <li class="lines-item">
        <svg>
          <use></use>
        </svg>
      </li>
      <li class="lines-item">
        <svg>
          <use></use>
        </svg>
      </li>
    </ul>
    <ul class="accessories-cards">
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>Xiberia K9 PRO PC Headset</h2>
            <p>65.14 USD</p>
            <p>55.14 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>Xiberia K9 PRO PC Headset</h2>
            <p>156.00 USD</p>
            <p>116.00 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>Steampunk Anti-Ghosting Mechanical Keyboard</h2>
            <p>82.40 USD</p>
            <p>62.40 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>AULA SI9006 Gaming Mouse</h2>
            <p>89.13 USD</p>
            <p>64.13 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>Malloom 1200 DPI 2.4Ghz Wireless Mouse</h2>
            <p>44.24 USD</p>
            <p>29.93 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="link">
          <div class="top-wrap">
            <picture></picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2>DARSHION 3200 DPI MZ-17 Gaming Mouse</h2>
            <p>48.00 USD</p>
            <p>32.00 USD</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
