<section class="accessories section">
  <div class="container">
    <ul class="buttons-list list">
      <li class="buttons-item"><button class="btn">All</button></li>
      <li class="buttons-item"><button class="btn">Headsets</button></li>
      <li class="buttons-item"><button class="btn">Keyboards</button></li>
      <li class="buttons-item"><button class="btn">Mouses</button></li>
    </ul>
    <h1 class="accessories-title">All accessories</h1>
    <!-- <ul class="lines-list list">
      <li class="lines-item">
        <svg>
          <use></use>
        </svg>
      </li>
      <li class="lines-item">
        <svg>
          <use></use>
        </svg>
      </li>
    </ul> -->
    <ul class="accessories-cards list">
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-1.jpg    1x,
                  ./images/accessories/accessories-img-1-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-1-tab.jpg    1x,
                  ./images/accessories/accessories-img-1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-1-mob.jpg    1x,
                  ./images/accessories/accessories-img-1-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-1.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! 


                Ergonomic in design makes it more
                adjustable to use. 


                More fashionable for your daily use, such as
                playing games. 

                Built-in high sensitivity and noise reduction
                microphone. 

                It is not easy to break or deform, and wear
                comfortable, no pressure.
              </p>
            </p>
          </div>
          <h2 class="accessories-name">Xiberia K9 PRO PC Headset</h2>
          <div class="accessories-content">
            <p class="accessories-past-price">65.14 USD</p>
            <p class="accessories-new-price">55.14 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-2.jpg    1x,
                  ./images/accessories/accessories-img-2-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-2-tab.jpg    1x,
                  ./images/accessories/accessories-img-2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <sourc3
                srcset="
                  ./images/accessories/accessories-img-2-mob.jpg    1x,
                  ./images/accessories/accessories-img-2-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-2.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2 class="accessories-name">Xiberia K9 PRO PC Headset</h2>
            <p class="accessories-past-price">156.00 USD</p>
            <p class="accessories-new-price">116.00 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-3.jpg    1x,
                  ./images/accessories/accessories-img-3-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-3-tab.jpg    1x,
                  ./images/accessories/accessories-img-3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-3-mob.jpg    1x,
                  ./images/accessories/accessories-img-3-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-3.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2 class="accessories-name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <p class="accessories-past-price">82.40 USD</p>
            <p class="accessories-new-price">62.40 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-4.jpg    1x,
                  ./images/accessories/accessories-img-4-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-4-tab.jpg    1x,
                  ./images/accessories/accessories-img-4-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-4-mob.jpg    1x,
                  ./images/accessories/accessories-img-4-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-4.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2 class="accessories-name">AULA SI9006 Gaming Mouse</h2>
            <p class="accessories-past-price">89.13 USD</p>
            <p class="accessories-new-price">64.13 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-5.jpg    1x,
                  ./images/accessories/accessories-img-5-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-5-tab.jpg    1x,
                  ./images/accessories/accessories-img-5-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-5-mob.jpg    1x,
                  ./images/accessories/accessories-img-5-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-5.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2 class="accessories-name">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h2>
            <p class="accessories-past-price">44.24 USD</p>
            <p class="accessories-new-price">29.93 USD</p>
          </div>
        </a>
      </li>
      <li class="accessories-item">
        <a href="order.html" class="accessiors-link link">
          <div class="top-wrap">
            <picture>
              <source
                srcset="
                  ./images/accessories/accessories-img-6.jpg    1x,
                  ./images/accessories/accessories-img-6-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-6-tab.jpg    1x,
                  ./images/accessories/accessories-img-6-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/accessories-img-6-mob.jpg    1x,
                  ./images/accessories/accessories-img-6-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/accessories/accessories-img-6.jpg"
                alt="accessories"
                width="285"
                height="276"
              />
            </picture>
            <p class="accessories-top-text">
              100% Brand new and high quality! Ergonomic in design makes it more
              adjustable to use. More fashionable for your daily use, such as
              playing games. Built-in high sensitivity and noise reduction
              microphone. It is not easy to break or deform, and wear
              comfortable, no pressure.
            </p>
          </div>
          <div class="accessories-content">
            <h2 class="accessories-name">
              DARSHION 3200 DPI MZ-17 Gaming Mouse
            </h2>
            <p class="accessories-past-price">48.00 USD</p>
            <p class="accessories-new-price">32.00 USD</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="slider">
      <li class="slider-item"></li>
      <li class="slider-item"></li>
      <li class="slider-item"></li>
      <li class="slider-item"></li>
      <li class="slider-item"></li>
    </ul>
  </div>
</section>
