<section class="blog container">
  <h2 class="blog__title">Blog</h2>
  <ul class="blog__list list">
    <li class="blog__item">
      <h3 class="blog__title-item">
        Guide to Picking The Right Gaming Headset
      </h3>
      <picture class="blog__picture">
        <source
          srcset="
            ./images/blog/blog-1-des-1x.jpg 1x,
            ./images/blog/blog-1-des-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/blog/blog-1-tab-1x.jpg 1x,
            ./images/blog/blog-1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/blog/blog-1-mob-1x.jpg 1x,
            ./images/blog/blog-1-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="blog__img"
          src="./images/blog/blog-1-des-1x.jpg"
          alt="ddd"
        />
      </picture>
      <div class="blog__article-container">
        <p class="blog__item-article">By Ray Ian Ampoloquio</p>
        <p class="blog__item-date">Updated on September 21, 2022</p>
      </div>
      <p class="blog__item-text">
        Learn how to choose an amazing gaming headset with this checklist of
        just 9 surprisingly simple steps. Gaming headsets offer a handy and
        practical solution to any and all of your gaming audio needs. But, as
        with any kind of ...
      </p>
      <a class="blog__item-link link" href="">Learn more</a>
    </li>
    <li class="blog__item">
      <h3 class="blog__title-item">
        Mic Monitoring: What Is It and How It Is Relevant to Gaming
      </h3>
      <picture>
        <source
          srcset="
            ./images/blog/blog-2-des-1x.jpg 1x,
            ./images/blog/blog-2-des-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/blog/blog-2-tab-1x.jpg 1x,
            ./images/blog/blog-2-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/blog/blog-2-mob-1x.jpg 1x,
            ./images/blog/blog-2-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="blog__img"
          src="./images/blog/blog-2-des-1x.jpg"
          alt="ddd"
        />
      </picture>
      <div class="blog__article-container">
        <p class="blog__item-article">By Gab L</p>
        <p class="blog__item-date">Updated on September 10, 2022</p>
      </div>
      <p class="blog__item-text">
        An explanation and exploration of microphone monitoring — its benefits
        and how you can start using one of the most underrated features today
        ...
      </p>
      <a class="blog__item-link link" href="">Learn more</a>
    </li>
    <li class="blog__item">
      <h3 class="blog__title-item">How to Choose the Right Gaming Mouse</h3>
      <picture>
        <source
          srcset="
            ./images/blog/blog-3-des-1x.jpg 1x,
            ./images/blog/blog-3-des-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/blog/blog-3-tab-1x.jpg 1x,
            ./images/blog/blog-3-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/blog/blog-3-mob-1x.jpg 1x,
            ./images/blog/blog-3-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="blog__img"
          src="./images/blog/blog-3-des-1x.jpg"
          alt="ddd"
        />
      </picture>
      <div class="blog__article-container">
        <p class="blog__item-article">By Michael Crider</p>
        <p class="blog__item-date">Updated on September 2, 2022</p>
      </div>
      <p class="blog__item-text">
        A good mouse can make a big difference when playing your favorite games.
        Here’s what you need to know about grip styles, types of gaming mice,
        technical specs, and more, before purchasing a new gaming mouse ...
      </p>
      <a class="blog__item-link link" href="">Learn more</a>
    </li>
  </ul>
  <div class="wrapper">
    <span class="point"></span>
    <span class="point"></span>
    <span class="point"></span>
  </div>
</section>
