<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="swiper gallery__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper gallery__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="swiper__keyboard swiper-slide-wraper">
          <div
            class="container gallery__container gallery__container--keyboard"
          >
            <h3 class="gallery__title gallery__title--ceyboard">
              One place for everything you want
            </h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__gamepad swiper-slide-wraper">
          <div class="container gallery__container gallery__container--gamepad">
            <h3 class="gallery__title gallery__title--gamepad">
              High-quality <span>products </span> <span>in lowest price</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__peoples swiper-slide-wraper">
          <div class="container gallery__container gallery__container--peoples">
            <h3 class="gallery__title gallery__title--peoples">
              Best shop for buying <span>gaming products</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
  </div>
</section>
