<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/sass/index.scss">
</head>
<body>
    <header class="header">
        <div class="container header_conteiner">
            <a class="header_logo" href="/src/index.html">SHOP FOR GAMERS</a>
            <button class="header_burger">
                <svg class="header_burger-open" width="54" heigth="36">
                    <use href="/src/images/sprite.svg#icon-menu-open"></use>
                </svg>
            </button>
            <nav class="header_navigation">
                <ul class="header_list">
                    <li class="header_item"><a class="header_items_link" href="/src/accessories.html">Accessories</a></li>
                    <li class="header_item"><a class="header_items_link" href="/src/contact.html">Contact</a></li>
                    <li class="header_item"><a class="header_items_link" href="/src/blog.html">Blog</a></li>
                </ul>
            </nav>
            <button type="button" class="header_button">Shop now</button>
        </div>
        <div class="mob_menu">
            <a class="header_logo" href="/src/index.html">SHOP FOR GAMERS</a>
            <button class="menu_btn">x</button>
        </div>
    </header>
</body>
</html>