<header class="header">
      <div class="container header_conteiner">
        <a class="header_logo" href="/src/index.html">SHOP FOR GAMERS</a>

        <div class="menu-burger js-open-menu js-close-menu">
          <span></span>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a class="header__nav-link" href="/src/accessories.html"
                >Accessories</a
              >
            </li>

            <li class="header__nav-item">
              <a class="header__nav-link" href="/src/contact.html">Contact</a>
            </li>

            <li class="header__nav-item">
              <a class="header__nav-link" href="/src/blog.html">Blog</a>
            </li>
          </ul>
        </nav>
        <a class="header__shop-btn" href="/src/order.html">Shop now</a>
      </div>
    </header>
    <div class="menu js-menu-container">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="/src/accessories.html" class="menu__link">accessories</a>
        </li>
        <li class="menu__item">
          <a href="/src/contact.html" class="menu__link">contact</a>
        </li>
        <li class="menu__item">
          <a href="/src/blog.html" class="menu__link">blog</a>
        </li>
      </ul>
    </div>
