<section class="sale">
  <div class="container">
    <h2 class="sale__title">Sale</h2>

    <ul class="sale__list-mob list">
      <li class="sale__item">
        <a href="" class="sale__link link">
          <img
            class="sale__img"
            srcset="
              ./images/sale/sale_mob-img1.jpeg,
              ./images/sale/sale_mob-img1@2x.jpeg 2x
            "
            src="./images/sale/sale_mob-img1.jpeg"
          />
          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <img
            class="sale__img"
            srcset="
              ./images/sale/sale_mob-img2.jpeg,
              ./images/sale/sale_mob-img2@2x.jpeg 2x
            "
            src="./images/sale/sale_mob-img2.jpeg"
          />
          <div class="sale__item-bottom">
            <h3 class="sale__list-title">
              RGB LED Backlit Mechanical Keyboard
            </h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">156.00 USD</p>
              <p class="sale__new-price">116.00 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <img
            class="sale__img"
            srcset="
              ./images/sale/sale_mob-img3.jpeg,
              ./images/sale/sale_mob-img3@2x.jpeg 2x
            "
            src="./images/sale/sale_mob-img3.jpeg"
          />
          <div class="sale__item-bottom">
            <h3 class="sale__list-title">G95 Light Surround Gaming Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">78.98USD</p>
              <p class="sale__new-price">50.98 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <img
            class="sale__img"
            srcset="
              ./images/sale/sale_mob-img4.jpeg,
              ./images/sale/sale_mob-img4@2x.jpeg 2x
            "
            src="./images/sale/sale_mob-img4.jpeg"
          />
          <div class="sale__item-bottom">
            <h3 class="sale__list-title">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">44.24 USD</p>
              <p class="sale__new-price">29.93 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <ul class="sale__list list">
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img1.jpeg    1x,
                ./images/sale/sale_tab-img1@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img1.jpeg    1x,
                ./images/sale/sale_desktop-img1@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img1.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div></a
        >
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img2.jpeg    1x,
                ./images/sale/sale_tab-img2@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img2.jpeg    1x,
                ./images/sale/sale_desktop-img2@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img2.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img3.jpeg    1x,
                ./images/sale/sale_tab-img3@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img3.jpeg    1x,
                ./images/sale/sale_desktop-img3@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img3.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img4.jpeg    1x,
                ./images/sale/sale_tab-img4@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img4.jpeg    1x,
                ./images/sale/sale_desktop-img4@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img4.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img5.jpeg    1x,
                ./images/sale/sale_tab-img5@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img5.jpeg    1x,
                ./images/sale/sale_desktop-img5@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img5.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img6.jpeg    1x,
                ./images/sale/sale_tab-img6@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img6.jpeg    1x,
                ./images/sale/sale_desktop-img6@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img6.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img7.jpeg    1x,
                ./images/sale/sale_tab-img7@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img7.jpeg    1x,
                ./images/sale/sale_desktop-img7@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img7.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="" class="sale__link link">
          <picture class="sale__img">
            <source
              srcset="
                ./images/sale/sale_tab-img8.jpeg    1x,
                ./images/sale/sale_tab-img8@2x.jpeg 2x
              "
            />
            <source
              srcset="
                ./images/sale/sale_desktop-img8.jpeg    1x,
                ./images/sale/sale_desktop-img8@2x.jpeg 2x
              "
            />
            <img src="./images/sale/sale_desktop-img8.jpeg" />
          </picture>

          <div class="sale__item-bottom">
            <h3 class="sale__list-title">Xiberia K9 PRO PC Headset</h3>
            <div class="sale__price-frame">
              <p class="sale__old-price">65.14 USD</p>
              <p class="sale__new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <button type="button" class="sale__button">View all</button>
  </div>
</section>
