.blog {
  background: #01383a;
  @include tablet {
  }
  @include desktop {
  }
}
.container {
}

.blog__title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #ffffff;
  padding-top: 40px;
  @include tablet {
    font-size: 56px;
    line-height: calc(66 / 56);
    padding-left: 85px;
    padding-top: 120px;
  }
  @include desktop {
    padding-left: 127px;
  }
}
.blog__title-item {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #ffffff;
  margin-bottom: 16px;
  @include tablet {
    font-size: 56px;
    line-height: calc(56 / 56);
  }
  @include desktop {
    margin-bottom: 52px;
  }
}

.blog__item-article,
.blog__item-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  //   margin-top: 8px;!!!!img
  margin-bottom: 8px;
  @include tablet {
    font-size: 24px;
    text-align: right;
  }
}

.blog__item-article {
  @include tablet {
    margin-bottom: 32px;
  }
}

.blog__item-date {
  //   font-weight: 500;
  //   font-size: 16px;
  //   line-height: 100%;
  color: #8d9289;
  margin-bottom: 16px;
}
.blog__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #ffffff;
  margin-bottom: 8px;
  @include tablet {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 16px;
  }
}

.blog__item-link {
  display: block;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #86e543;
  // margin-bottom: 24px;
  @include tablet {
    font-size: 24px;
    // margin-bottom: 40px;
  }
}

.blog__item:not(:last-child) {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 40px;
  }
}

.wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 42px 0;
  @include tablet {
    padding: 42px 0 120px 0;
  }
}
.point {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  /* opacity: 0; */
}
.point:nth-child(1) {
  animation: pointer 1s ease-in-out infinite;
}
.point:nth-child(2) {
  animation: pointer 1s ease-in-out 0.33s infinite;
}

.point:nth-child(3) {
  animation: pointer 1s ease-in-out 0.66s infinite;
}

@keyframes pointer {
  0%,
  100% {
    width: 16px;
    border-radius: 50%;
  }

  60% {
    width: 40px;
    border-radius: 30px;
  }
}
