.blog-article__section {
    background: var(--section-bgc-color);
    padding-top: 40px;
    padding-bottom: 48px;

    @include tablet {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include desktop {
        padding-top: 112px;
        padding-bottom: 120px;
    }

}

.blog-article__main-title {
    color: var(--prim-text-color);
    @include font (500, 24, 1.17, 0.03);

    @include tablet {
        @include font (500, 56, 1, 0.03);
    }

    @include desktop {
        @include font (500, 56, 1, 0.03);
    }
}

.blog-article__picture {
    margin-top: 20px;
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.blog-article__article {
    padding-top: 20px;
}

/* .blog-article__section--text {
    background: var(--section-bgc-color);


    @include tablet {
        padding-top: 124px;
        padding-bottom: 120px;
    }

    @include desktop {
        padding-top: 16px;
        padding-bottom: 120px;
    }
} */

.blog-article__title {
    color: var(--prim-text-color);
    @include font (500, 16, 1, 0.03);
    padding-bottom: 8px;

    @include tablet {
        padding-bottom: 32px;
        color: var(--sec-text-color);
        @include font (500, 24, 1, 0.03);
    }

    @include desktop {
        padding-bottom: 0px;
        @include font (500, 24, 1, 0.03);
        color: var(--sec-text-color);
    }
}

.blog-article__headline {
    padding-bottom: 8px;
    color: var(--contact-color);
    @include font (500, 16, 1, 0.03);

    @include tablet {
        padding-bottom: 16px;
        @include font (500, 24, 1, 0.03);
    }

    @include desktop {
        padding-bottom: 0px;
        @include font (500, 24, 1, 0.03);
    }

}

.blog-article__title-desktop {
    @include desktop {
        padding-bottom: 24px;
        display: inline-flex;

    }
}

.blog-article__text {
    color: var(--prim-text-color);
    @include font (400, 16, 1.17, 0.03);

    @include tablet {
        @include font(400, 24, 1.17, 0.03)
    }
}

.blog-article__text--accent {
    white-space: pre-line;

    @include tablet {
        color: var(--sec-text-color);
    }
}

.blog-article__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include tablet {
        gap: 20px;
    }
}