input::-webkit-input-placeholder {
    color: var(--prim-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--section-bgc-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--prim-text-color);
    position: relative;

    @include tablet {
        font-size: 24px;
        line-height: 1.17;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.contacts__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: var(--prim-text-color);

    @include tablet {
        font-size: 56px;
        line-height: 66px;
        padding-left: 83px;
    }
}
.contacts__main-picture {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media screen and (min-width:480px) and  (max-width: 767px) {
        display: block;
        max-width: 480px;}
    @include tablet {
        margin-left: 40px;
        margin-right: 40px;}
}

.contacts__main-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    margin-top: 35px;
    width: auto;
    @media screen and (min-width:480px) and (max-width: 767px) {
            display: block;
            max-width: 480px;
    }
    @include tablet {
        border-radius: 12px;
        margin-bottom: 32px;
        margin-top: 67px;
    }
    @include desktop {
        border-radius: 12px;
        margin-bottom: 59px;
        margin-top: 75px;
    }
}

.summary-feedback {
    @include desktop {
        display: flex;
        gap: 122px;
    }
}

.contacts__querie {
    @include tablet {
        max-width: 488px;
    }
    >li:first-child {
        margin-bottom: 20px;
    }
}

.contacts__data {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 24px;

    @media screen and (min-width:768px) and (max-width: 1279px) {
        flex-direction: row;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    @include desktop {
        margin-bottom: 40px;
        margin-top: 40px;
        gap: 40px;
    }
}

.contacts__mail {
    >li:not(:first-child) {
        text-transform: capitalize;
        color: #8D9289;
        margin-top: 8px;
    }
}

.contacts__phone {
    >li:not(:first-child) {
        text-transform: capitalize;
        color: var(--old-price-color);
        margin-top: 8px;
    }
}
.contacts__phone-link, .contacts__mail-link  {
    text-decoration: none;
    color:currentColor;
    cursor: pointer;
    &:focus, &:hover {
        color: var(--sec-text-color);
    }
} 

.contacts__feedback {
    margin-right: auto;
    margin-left: auto;

    @include desktop {
        display: block;
        width: 50%;
    }
}

.contacts__form {
    display: block;
    @include tablet {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts__form__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--sec-text-color);
    margin-bottom: 16px;

    @include tablet {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: 50px;
    }

    @include desktop {
        margin-left: 0;
    }
}

.contacts__form__label {
    display: block;
    width: 100%;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 24px;
    }

    @include tablet {
        width: 590px;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts__form__name {
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-bottom: 4px;
    color: var(--message-form-color);
}

.contacts__form__input {
    display: block;
    width: 100%;
    height: 24px;
    background-color: var(--text-btn-color);
    border: inherit;
    border-bottom: 1px solid var(--sec-text-color);
    outline: none;
    color: var(--prim-text-color);
    font-weight: 1.25;
}

.contacts__form__text-area {
    display: block;
    width: 100%;
    min-height: 95px;
    border: 1px solid var(--sec-text-color);
    background-color: var(--text-btn-color);
    color: var(--prim-text-color);

    @include tablet {
        min-height: 120px;
    }
}

.contacts__form__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    width: 173px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    color: var(--prim-text-color);
    background-color: inherit;

    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }

    @include tablet {
        width: 306px;
        height: 70px;
        font-size: 32px;
        line-height: 1.19;
    }

    @include desktop {
        margin-left: 0;
    }
}

.contacts__modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 395px;
    background:var(--section-bgc-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
        min-height: 524px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 88px;
        padding-bottom: 88px;
    }

    @include desktop {
        min-width: 768px;
        min-height: 581px;
    }


}

.contacts__modal__close-btn {
    position: absolute;
    top: 24.37px;
    right: 24.37px;
    padding: 0;
    background-color: inherit;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transform: rotate(360deg);
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}

.contacts__modal_text {
    display: block;
    width: 214px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    color: var(--prim-text-color);
    @media screen and (min-width:768px) {
        font-size: 56px;
        line-height: 1.18;
        width: 639px;
    }
}

.contacts__modal__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 16px;
    width: 173px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    color: var(--section-bgc-color);
    border: none;
    background: var(--sec-text-color);
    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
    @include tablet {
        width: 306px;
        height: 70px;
        font-size: 32px;
        line-height: 1.19;
    }
}

// ------------------------------------------------------------

.contacts__backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 20, 0.8);;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 20;
    background-attachment: fixed;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contacts__backdrop.is-hidden .modal {
    background-color:var(--prim-text-color);
    transform: scale(0.1);
    opacity: 0.1;
}