button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 500ms ease;
}
.header{
    &_conteiner{
        display: flex;
        justify-content: space-between;
        padding: 24px 16px;
        
        @include tablet{
            padding: 40px 40px;
        }
    }
    background-color: #01383A;
    box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2), 0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);

    &_logo{
        display: inline-block;
        width: 115px;
        height: 56px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        text-decoration: none;
        text-align: center;
    
    }

    &_burger {
        @include desktop {
            display: none;  
        }
        &-open {
            width: 54px;
            height: 36px;
            fill: #86E543;
            background-color: #01383A;
        }
    }

    &_navigation{
        display: none;

        @include desktop {
            display: block;
        }
    }
    &_list{
        
        display: flex;
    }
    &_item{
        margin-right: 48px;
        list-style: none;
        
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        color: #fff;
    }
    &_items_link{
        text-decoration: none;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
    &_button {
    display: none;
    @include tablet {
        display: block;
        background-color: #86E543;
        border-radius: 16px;
        width: 95px;
        height: 40px;
        left: 633px;
        top: 56px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 158.7%;
        
        }   
    @include desktop {
        display: block;
        }
        
    }
    .mob_menu{
        @include desktop {
            display: none;
            }
        @include tablet{
            background-image: url(/src/images/header/Frame.jpg);
            top: 135;
        }
            position: fixed;
            top: 100;
            background-image: url(/src/images/header/Frame_mob.jpg);
            width: 100vw;
            height: 100vh;
            display: flex;
    }
    .menu_navigation{
        margin-top: 64px;
    }
    .menu_item{
        list-style: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .menu_items_link{
        color: #fff;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        text-transform: uppercase;
    }
}
.header_buttom_link{
    text-decoration: none;
    color: black;
}
