.hero {
  height: 601px;
  background-color: rgb(59, 82, 59);
  padding-top: 180px;
  padding-bottom: 120px;
  background-image: url(../src/images/hero/keyboard.png),
    url(../src/images/hero/mouse.png), url(../src/images/hero/headphones.png),
    url(../src/images/hero/bg-hero1x.jpg);
  background-repeat: no-repeat;
  background-position: right 50px bottom 130px, left 30px top 60px,
    right top -30px, right;
  background-size: auto, auto, auto, cover;
  @include retina {
    background-image: url(../src/images/hero/bg-hero2x.jpg);
  }
  @include tablet {
    height: 860px;
    background-image: url(../src/images/hero/keyboard-tab.png),
    url(../src/images/hero/mouse-tab.png), url(../src/images/hero/headphones-tab.png),
    url(../src/images/hero/bg-hero1x.jpg);
  background-repeat: no-repeat;
  background-position: right 200px bottom 250px, right 250px top 50px,
  right 50px top 200px, right;
  background-size: auto, auto, auto, cover;
  }
  @include desktop {
    height: 860px;
    background-image: url(../src/images/hero/keyboard-desktop.png),
    url(../src/images/hero/mouse-desktop.png), url(../src/images/hero/headphones-desktop.png),
    url(../src/images/hero/bg-hero1x.jpg);
  background-repeat: no-repeat;
  background-position: right 450px bottom 250px, right 470px top 50px,
  right 50px top 160px, right;
  background-size: auto, auto, auto, cover;
  }
}

.hero__container {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @include desktop {
        padding-left: 80px;
        width: 100%;
      }
 
}

.hero__title {
  text-align: center;
  margin-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  color: var(--prim-text-color);
  @include tablet {
    padding-left: 0;
    padding-right: 340px;
    text-align: left;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 623px;
    font-size: 64px;
    line-height: 1.18;
  }
}

.hero__btn {
  padding: 16px 20px 16px 20px;
  margin: 0 auto;
  background-color: #86e543;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #01383a;
  text-transform: uppercase;
  @include tablet {
    margin: 0;
    font-size: 32px;
    line-height: 1.18;
  }
}

.under {
  background-color: var(--section-bgc-color);
  padding-left: 0;
  padding-right: 0;
  @include desktop {
    max-width: 1600px;
  }
}
.under__thumb {
  height: 498px;
  background-image: url(../src/images/hero/sec-bg-hero-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 2px solid #86e543;
  border-bottom: 2px solid #86e543;
  @include retina {
    background-image: url(../src/images/hero/sec-bg-hero-mob2x.jpg);
  }
  @include tablet {
    background-image: url(../src/images/hero/banner-tab1x.jpg);
    @include retina {
      background-image: url(../src/images/hero/banner-tab2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    background-image: url(../src/images/hero/banner-dekstop1x.jpg);
    @include retina {
      background-image: url(../src/images/hero/banner-dekstop2x.jpg);
    }
  }
}
.under__title {
  padding: 405px 40px 37px 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  background-image: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  @include tablet {
    padding: 352px 131px 14px 41px;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 280px;
    padding-right: 339px;
    padding-bottom: 40px;
    padding-top: 320px;
  }
}
