.hero {
  height: 601px;
  background-color: #5dec364f;
  padding-top: 180px;
  // padding-bottom: 120px;
  background-color: rgb(59, 82, 59);
  background-image: url(../images/hero/keyboard.png),
    url(../images/hero/mouse.png), url(../images/hero/headphones.png),
    url(../images/hero/bg-hero1x.jpg);
  background-repeat: no-repeat;
  background-position: right 50px bottom 130px, left 30px top 60px,
    right top -30px, right;
  background-size: auto, auto, auto, cover;
  @include retina {
    background-image: url(../images/hero/keyboard.png),
      url(../images/hero/mouse.png), url(../images/hero/headphones.png),
      url(../images/hero/bg-hero2x.jpg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 130px, left 30px top 60px,
      right top -30px, bottom;
    background-size: auto, auto, auto, cover;
  }
  @include tablet {
    height: 860px;

    background-image: url(../images/hero/keyboard-tab.png),
      url(../images/hero/mouse-tab.png), url(../images/hero/headphones-tab.png),
      url(../images/hero/bg-hero1x.jpg);
    background-repeat: no-repeat;
    background-position: right 200px bottom 250px, right 250px top 50px,
      right 50px top 200px, right;
    background-size: auto, auto, auto, cover;
    // @include retina {
    //     background-image: url(../images/hero/bg-hero2x.jpg);
    //   }
  }
  @include desktop {
    height: 865px;

    background-image: url(../images/hero/keyboard-desktop.png),
      url(../images/hero/mouse-desktop.png),
      url(../images/hero/headphones-desktop.png),
      url(../images/hero/bg-hero1x.jpg);
    background-repeat: no-repeat;
    background-position: right 450px bottom 250px, right 470px top 50px,
      right 50px top 160px, bottom;
    background-size: auto, auto, auto, cover;
    // @include retina {
    //     background-image: url(../images/hero/bg-hero2x.jpg);
    //   }
  }
}

.hero__container {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @include desktop {
    padding-left: 140px;
    width: 100%;
  }
}

.hero__title {
  text-align: center;
  margin-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  color: var(--prim-text-color);
  @include tablet {
    text-align: left;
    margin-bottom: 94px;
    padding-left: 0;
    padding-right: 310px;
    text-align: left;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 623px;
    font-size: 64px;
    line-height: 1.18;
  }
}

.hero__btn {
  padding: 16px 20px 16px 20px;
  margin: 0 auto;
  background-color: #86e543;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #01383a;
  text-transform: uppercase;
  @include animation-shadow;
  @include tablet {
    margin: 0;
    font-size: 32px;
    line-height: 1.18;
  }
  &:hover,
  &:focus {
    box-shadow: var(--hover-prim-btn);
  }
}
