:root {
  // TRANSITION
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--section-bgc-color);

  .modal-open & {
    overflow-y: hidden;
  }
}

button {
  display: block;
  cursor: pointer;
  border: none;
  transition: var(--transition-main);
}

// ------Contact us-------

.order__input-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--sec-text-color);
  margin-top: 32px;
  margin-bottom: 16px;
  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }
  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.16;
    margin-left: 0px;
  }
}

.order__form {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  @include tablet {
  }

  @include desktop {
    flex-wrap: nowrap;
    margin-bottom: 48px;
    gap: 20px;
  }
}

.order__input-list {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    width: 50%;
  }
}

.order__input {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;

  border: transparent;
  background: var(--section-bgc-color);
  color: var(--prim-text-color);
  border-bottom: 1px solid var(--prim-btn-color);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--prim-text-color);
  }
  &:focus-visible {
    outline: none;
  }

  @include mobile {
    width: 100%;
    &::placeholder {
      font-size: 18px;
    }
  }
}

.order__comments-container {
  @include tablet {
    width: 50%;
  }
}

.order__comments {
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;

  @include tablet {
    font-size: 18px;
    max-height: 280px;
  }
}

.order__comments-text {
  margin-top: 4px;
  width: 100%;

  font-size: 16px;
  line-height: 1.25;
  height: 95px;

  border: 1px solid var(--prim-btn-color);
  color: var(--prim-text-color);
  background: var(--section-bgc-color);
  resize: none;

  @include tablet {
    font-size: 18px;
    height: 256px;
  }

  @include desktop {
  }
}
// Готова нижня секція
.wrapper-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  max-width: 173px;

  @media screen and (max-width: 767px) {
    margin-bottom: 48px;
  }

  @include mobile {
    max-width: 306px;
  }

  @include tablet {
    margin-bottom: 120px;
  }

  @include desktop {
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    margin-top: 0;
  }
}

.main-btn,
.secondary-btn {
  @include font(700, 16px, 1.18, null);
  text-transform: uppercase;

  border-radius: 16px;

  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 32px;
  }
}

.main-btn {
  margin-bottom: 16px;

  color: var(--section-bgc-color);
  padding: 16px 42px;
  background-color: var(--sec-text-color);
  transition: var(--transition-main);

  @include desktop {
    margin: 0;
  }

  @include desktop {
    padding: 16px 64px;
  }
}

.main-btn:hover,
.main-btn:focus {
  box-shadow: var(--hover-prim-btn);
}

.secondary-btn {
  padding: 16px 34.5px;
  border: 1px solid var(--sec-text-btn-color);
  background-color: transparent;
  color: var(--sec-text-btn-color);

  @include desktop {
    padding: 16px 52px;
  }
}

.secondary-btn:hover,
.secondary-btn:focus {
  box-shadow: var(--hover-wht-btn);
}

// -----Backdrop------
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;

  opacity: 0;
  pointer-events: none;

  background-color: #001414cc;
  transition: opacity var(--transition-main);
}

.backdrop--is-showen {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 272px;
  width: 100%;
  min-height: 300px;
  max-height: 367px;

  background-color: var(--section-bgc-color);

  transform: translate(-50%, -50%) scale(1.1);
  transition: transform var(--transition-main);

  @include tablet {
    max-width: 688px;
    min-height: 500px;
    max-height: 566px;
  }

  @include desktop {
    max-width: 768px;
    min-height: 540px;
    max-height: 602px;
  }
}

.backdrop--is-showen .modal {
  transform: translate(-50%, -50%) scale(1);
}

.cross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  padding: 4.38px;

  background-color: transparent;

  stroke: var(--sec-text-color);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.412;

  transition: stroke var(--transition-main);
}

.cross:hover,
.cross:focus {
  stroke: #85ff2e;
}

// -----Modal-content-----

.modal__content {
  padding-top: 100px;
  padding-bottom: 100px;

  @include tablet {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal-for-buy,
.modal-for-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content--is-hidden {
  display: none;
}

.modal-for-buy {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 56px;
    padding-right: 56px;
  }

  @include desktop {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.modal__text {
  margin-bottom: 32px;

  @include font(500, 24px, 1.17, null);
  text-align: center;

  color: var(--prim-text-color);

  @include tablet {
    margin-bottom: 56px;

    font-size: 56px;
    line-height: 1.18;
  }

  @include desktop {
    font-size: 64px;
  }
}

.modal__main-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  padding: 16px 25px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-decoration: none;

  @include tablet {
    font-size: 32px;
    padding-left: 30.5px;
    padding-right: 30.5px;
  }
}

// ---Modal for Add---
.modal-for-add {
  padding-left: 42px;
  padding-right: 42px;

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal__main-btn--add {
  padding: 16px 51px;

  @include tablet {
    padding-left: 82.5px;
    padding-right: 82.5px;
  }
}

// ---Upper-content---

.title {
  font-weight: 500;
}
.order__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  color: #ffffff;
  margin-bottom: 16px;
  @include tablet {
    font-size: 56px;
    line-height: 1.17;
    width: 710px;
    margin-bottom: 24px;
  }
  @include desktop {
    display: none;
  }
}
.order__price {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  justify-content: space-between;

  @include tablet {
    padding: 0 24px;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
  }
  @include desktop {
    padding: 0;
    flex-direction: row;
    gap: 65px;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 40px;
  }
}
.past-price {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: line-through;

  color: #8d9289;
  @include tablet {
    font-size: 24px;
  }
}
.fixed-price {
  font-weight: 500;
  font-size: 32px;
  color: #86e543;
  @include tablet {
    font-size: 48px;
  }
}
.slider {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: flex;
    margin-top: 24px;
    gap: 24px;
  }
}
.slider__item {
  width: calc(100% - 48px) / 4;
  @include tablet {
    width: calc(100% - 72px) / 4;
  }
}
.main__picture {
  width: 100%;
  @include tablet {
    max-width: 387px;
  }
}
.order__card {
  @include tablet {
    display: flex;
  }
}
.desktop__order {
  @include desktop {
    display: flex;
  }
}
.order__info {
  @include desktop {
    padding: 0 40px;
  }
}
.order__name-desktop {
  display: none;
  @include desktop {
    display: flex;
    font-size: 56px;
    line-height: 1.17;
    width: 710px;
    margin-bottom: 32px;
    color: #ffffff;
  }
}
.slider-tablet {
  display: none;
  @include tablet {
    display: flex;
    margin-top: 24px;
    gap: 24px;
  }
  @include desktop {
    display: none;
  }
}
